{% extends 'base.html' %}

{% block title %}
Новый список дел
{% endblock %}

{% block content %}
    <form action="{{ url_for('create_list') }}" method="POST">
        {{ form.csrf_token }}

        {% with field=form.name %}
            {% include 'text_field.html' %}
        {% endwith %}

        {% with field=form.cover %}
            {% include 'text_field.html' %}
        {% endwith %}

        <div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
{% endblock %}
