{% extends 'base.html' %}

{% block title %}
Новый список дел
{% endblock %}

{% block content %}
    <form action="{{ url_for('create_list') }}" method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }}
            {{ form.name() }}
            {% if form.name.errors %}
                <ul class="errors">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.cover.label }}
            {{ form.cover() }}
            {% if form.cover.errors %}
                <ul class="errors">
                {% for error in form.cover.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <button type="submit">Сохранить</button>
        </div>
    </form>
{% endblock %}
