{% extends 'base.html' %}

{% block title %}
    {{ todo_list.name }}
{% endblock %}

{% block content %}
    <h1 class="mb-5">
        {{ todo_list.name }}
        {% if done_count == 0 %}
            <span class="badge rounded-pill bg-danger ms-1">{{ done_count }} / {{ total_count }}</span>
        {% elif done_count == total_count %}
            <span class="badge rounded-pill bg-success ms-1">{{ done_count }} / {{ total_count }}</span>
        {% else %}
            <span class="badge rounded-pill bg-primary ms-1">{{ done_count }} / {{ total_count }}</span>
        {% endif %}
    </h1>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for item in todo_list.items %}
                <li class="list-group-item d-flex align-items-center">
                    {% if item.is_done %}
                        <form action="{{ url_for('change_state', item_id=item.id) }}" method="POST" class="me-3">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="btn btn-success" type="submit" title="Пометить невыполненным">
                                <i class="bi-check-square"></i>
                            </button>
                        </form>
                        <span class="text-decoration-line-through text-muted">{{ item.name }}</span>
                    {% else %}
                        <form action="{{ url_for('change_state', item_id=item.id) }}" method="POST" class="me-3">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button class="btn btn-success" type="submit" title="Пометить выполненным">
                                <i class="bi-square"></i>
                            </button>
                        </form>
                        <span>{{ item.name }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <form action="" method="POST" class="mt-3">
        <div class="input-group">
            {{ form.name(class='form-control', placeholder=form.name.label.text) }}
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                Добавить
            </button>
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}
