{% extends 'base.html' %}

{% block title %}
    Вход в систему
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <form action="{{ url_for('login') }}" method="POST" class="text-center">
                {{ form.csrf_token }}
                <h1 class="h3 mb-3 fw-normal">Войдите на сайт</h1>

                <div class="form-floating mb-3">
                    {{ form.email(class='form-control', placeholder=form.email.label.text) }}
                    {{ form.email.label }}
                </div>
                <div class="form-floating">
                    {{ form.password(class='form-control', placeholder=form.password.label.text) }}
                    {{ form.password.label }}
                </div>

                <div class="checkbox my-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Запомнить меня
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}