<div class="card">
    <img src="{{ todo_list.cover }}" class="card-img-top" alt="{{ todo_list.name }}">
    <div class="card-header">
        <a href="{{ url_for('get_list', list_id=todo_list.id) }}">
            <strong>{{ todo_list.name }}</strong>
        </a>
        <span class="badge rounded-pill bg-primary ms-1">2 / 4</span>
    </div>
    <ul class="list-group list-group-flush">
        {% for item in todo_list['items'] %}
        <li class="list-group-item">
            {% if item.is_done %}
            <span class="text-decoration-line-through text-muted">{{ item.name }}</span>
            {% else %}
            <span>{{ item.name }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>